# Java / Spring Boot
backend/target/
*.log
*.class

# Angular
frontend/node_modules/
frontend/dist/

# OS / IDE
*.iml
.idea/
.vscode/
.DS_Store

# Prompt 
_docs/prompt/
database/sql/origin/
_docs/dev-back/ 
_docs/dev-front/
_docs/todo.md
