/* Styles spécifiques à la liste des départements si nécessaire */
/* Tailwind CSS est utilisé directement dans le HTML */

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
